:root {
  --main-bg: #fff;
  --secondary-bg: #f5f8fa;
  --nav-bg: #001927;
  --footer-bg: #001927;
  --white-text: #fff;
  --dark-text: #333;
  --light-text: #7b94a5;
  --element-primary: #ffcd19;
  --element-secondary: #00b6dc;
  --element-dark: #002841;
}
